# Dépendances
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/
build/

# Variables d'environnement
.env
.env.local
.env.*.local

# Vite
*.local
vite.config.ts.timestamp-*
vite.config.js.timestamp-*

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Tests
/coverage/
/.nyc_output/
/playwright-report/
/test-results/
/screenshots/

# IDE
.vscode/
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.fleet/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Cache divers
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.auth/

*.png
!public/logo.png
!public/logo-dark.png
