# Variables d'environnement — NE JAMAIS VERSIONNER
.env
.env.local
.env.*.local
.env.production

# Dépendances
node_modules/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

*.png
!frontend/public/logo.png
!frontend/public/logo-dark.png